<div class="h-100">
    <div class="d-flex justify-content-end align-items-end flex-wrap opacity-75">
        <p class="text-white">&copy; @DateTime.Now.Year Vinicius Santiago<small class="ms-2">Todos os direitos reservados</small></p>
    </div>
</div>