<div class=" bg-white rounded-4 p-4 h-100 shadow-sm">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <small class="text-gray-dark">
            Você pode adicionar este calendário ao seu Outlook, Microsoft Teams, Google Agenda ou Apple Calendar.<br />
            <span class="text-gray">
                O calendário exportado será filtrado de acordo com o filtros selecionados nesta tela.
            </span>
        </small>
        <button id="btnExportar"
                class="btn bg-primary text-white btn-sm shadow px-4 py-2 flex-lg-grow-0 flex-grow-1"
                title="Exportar calendário para o seu outlook">
            <i class="fas fa-file-export me-2"></i>
            Exportar calendário
        </button>
    </div>
</div>